
canvas {
  background: pink;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

button {
  all: unset;
  display: block;
  background: #c0c0c0;
  padding: 16px;
  margin: 16px auto 0;
  border-radius: 8px;
}

button a {
  text-decoration: none;
  color: #f7f7f7;
}

